img {
    width: 100%;
}

.success {
    color: green;
}

.error {
    color: blue;
    background-color: yellow;
    padding: 50px;
    margin: 20px;
}

.decorated {
    text-decoration: underline;
}

a, a:visited, a:hover {
    color: green;
    text-decoration: none;
}

a.active {
    color: red;
    text-decoration: underline;
}

a:active {
    color: violet;
}